$SELECTOR_HEADING: getGlobal("SITE.SELECTOR_HEADING");
$HEADING_PREFIX_AND_SUFFIX: " ★ ";

:root {
  --main-color: #05acff;
  --main-text-color: #fff;
  // --d2l-color-celestine: #ffcb05;
}

// This makes the little accent bar at the top of the page change color
html {
  --d2l-branding-primary-color: var(--main-color);
}

.main-color,
#app .theme-background {
  background-color: var(--main-color);
}

.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link,
.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link:link,
.d2l-branding-navigation-dark-foreground-color a.d2l-navigation-s-link:visited,
.d2l-branding-navigation-dark-foreground-color div.d2l-navigation-s-item > span,
.d2l-branding-navigation-dark-foreground-color
  .d2l-navigation-s-group
  .d2l-navigation-s-group-text,
.d2l-branding-navigation-dark-foreground-color
  .d2l-navigation-s-group
  .d2l-navigation-s-group-wrapper
  d2l-icon,
.module-triangle {
  color: var(--main-text-color) !important;
}

// html body {
//     background-color: rgb(144, 238, 144);
//     color: green;
// }

// #{$SELECTOR_HEADING}::before, #{$SELECTOR_HEADING}::after {
//     content: "#{$HEADING_PREFIX_AND_SUFFIX}";
// }
